<%- include('header') %>
            <a href="/new" class="btn btn-primary btn-sm">Új törpe hozzáadása</a>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Név</th>
                        
                        <th>Klan</th>
                        <th>Nem</th>
                        <th class="text-end">Súly (kg)</th>
                        <th class="text-end">Magasság (cm)</th>
                        <th class="text-end">Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    <% results.forEach((item,index) =>{ %>
                        <tr>
                            <td><%=(index+1)  %></td>
                            <td><%=item.nev%> </td>
                            <td><%=item.klan%></td>
                            <td><%=item.nem%></td>
                            <td class="text-end"><%=item.suly%> Kg</td>
                            <td class="text-end"><%=item.magassag%> Cm</td>
                            <td class="text-end">
                                <a href="/edit/<%=item.id%>" class="btn btn-warning btn-sm">Szerkesztés</a>
                                <a href="/delete/<%=item.id%>" class="btn btn-danger btn-sm" >Törlés</a>
                            </td>
                        </tr>

                   <% })%>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" colspan="7">Összesen <span><%=results.length  %></span> törpe</td>
                    </tr>
                </tfoot>
            </table>

<%- include('footer') %>